.table-header {
    list-style-type: none;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

table .custom-ul {
    list-style-type: none;
}

.table-header button {
    border-color: transparent;
    height: 40px;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: 'Niramit', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.table-header button:not(.selected) {
    background-color: transparent;
}

.table-header button:hover {
    background-color: #b3b3b380;
}

.table-header li {
    padding: 0px;
    max-height: 40px;
}

.table-container {
    width: 70%;
    height: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.selected {
    background-color: black;
    color: white;
}

.table-scroll {
    max-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}


thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

th {
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
    font-family: 'Niramit', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

th:first-child {
    border-radius: 15px 0px 0px 0px;
    -webkit-border-radius: 15px 0px 0px 0px;
    -moz-border-radius: 15px 0px 0px 0px;
}

th:last-child {
    border-radius: 0px 15px 0px 0px;
    -webkit-border-radius: 0px 15px 0px 0px;
    -moz-border-radius: 0px 15px 0px 0px;
    width: calc(80px);
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 13px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:last-child td:first-child {
    border-radius: 0px 0px 0px 15px;
    -webkit-border-radius: 0px 0px 0px 15px;
    -moz-border-radius: 0px 0px 0px 15px;
    border-left: transparent;
}


tr:last-child td:last-child {
    border-radius: 0px 0px 15px 0px;
    -webkit-border-radius: 0px 0px 15px 0px;
    -moz-border-radius: 0px 0px 15px 0px;
    border-right: transparent;
}

td:last-child {
    width: 60px;
}


td:nth-child(1),
th:nth-child(1) {
    width: 50%;
}

td:nth-child(2),
th:nth-child(2) {
    width: calc(50% - 40px);
}

tr:last-child td {
    border-bottom: transparent;
}

td:last-child {
    position: relative;
}


.menu-emergente {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px #0000001a;
    display: none;
    z-index: 5;
}

td:hover .menu-emergente {
    display: block;
}

.options-btn {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/options-icon.svg");
    background-color: transparent;
    border-color: transparent;
    background-position: center;
    transition: all 0.3s ease;
}

.options-btn:hover {
    transform: scale(1.2);
}

.custom-li {
    padding: 3px 0px;
}

.add-btn-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.add-btn {
    background-color: black;
    color: white;
    border-color: transparent;
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.add-btn:hover {
    transform: scale(1.05);
}

.add-icon {
    background-image: url("../../../assets/add-icon.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    margin-right: 5px;
}

.pop-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
}


.pop-menu-option:hover {
    background-color: #9e9e9e;
}

.pop-menu-option img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}